<ossec_config>
  <client>
    <server>
      <address>__WAZUH_MANAGER__</address>
      <port>__WAZUH_MANAGER_PORT__</port>
      <protocol>tcp</protocol>
    </server>
    <config-profile>docker,dvwa</config-profile>
    <notify_time>10</notify_time>
    <time-reconnect>60</time-reconnect>
    <auto_restart>yes</auto_restart>
    <crypto_method>aes</crypto_method>
  </client>

  <client_buffer>
    <disabled>no</disabled>
    <queue_size>5000</queue_size>
    <events_per_second>500</events_per_second>
  </client_buffer>

  <labels>
    <label key="deployment">docker</label>
    <label key="application">dvwa</label>
    <label key="agent_name">__WAZUH_AGENT_NAME__</label>
    <label key="agent_group">__WAZUH_AGENT_GROUP__</label>
  </labels>

  <rootcheck>
    <disabled>no</disabled>
    <frequency>43200</frequency>
    <rootkit_files>etc/shared/rootkit_files.txt</rootkit_files>
    <rootkit_trojans>etc/shared/rootkit_trojans.txt</rootkit_trojans>
    <skip_nfs>yes</skip_nfs>
  </rootcheck>

  <wodle name="cis-cat">
    <disabled>yes</disabled>
    <timeout>1800</timeout>
    <interval>1d</interval>
    <scan-on-start>yes</scan-on-start>

    <java_path>wodles/java</java_path>
    <ciscat_path>wodles/ciscat</ciscat_path>
  </wodle>

  <!-- Osquery integration -->
  <wodle name="osquery">
    <disabled>yes</disabled>
    <run_daemon>yes</run_daemon>
    <log_path>/var/log/osquery/osqueryd.results.log</log_path>
    <config_path>/etc/osquery/osquery.conf</config_path>
    <add_labels>yes</add_labels>
  </wodle>

  <!-- System inventory -->
  <wodle name="syscollector">
    <disabled>no</disabled>
    <interval>1h</interval>
    <scan_on_start>yes</scan_on_start>
    <hardware>yes</hardware>
    <os>yes</os>
    <network>yes</network>
    <packages>yes</packages>
    <ports all="no">yes</ports>
    <processes>yes</processes>
    <synchronization>
      <max_eps>10</max_eps>
    </synchronization>
  </wodle>

  <sca>
    <enabled>yes</enabled>
    <scan_on_start>yes</scan_on_start>
    <interval>12h</interval>
    <skip_nfs>yes</skip_nfs>
  </sca>

  <syscheck>
    <disabled>no</disabled>
    <frequency>60</frequency>
    <scan_on_start>yes</scan_on_start>
    <directories check_all="yes">/dvwa-webroot</directories>
    <ignore type="sregex">.log$|.swp$</ignore>
    <max_eps>50</max_eps>
    <synchronization>
      <enabled>yes</enabled>
      <interval>5m</interval>
    </synchronization>
  </syscheck>

  <localfile>
    <log_format>syslog</log_format>
    <location>/var/ossec/logs/active-responses.log</location>
  </localfile>

  <localfile>
    <log_format>apache</log_format>
    <location>/dvwa-logs/access.log</location>
  </localfile>

  <localfile>
    <log_format>apache</log_format>
    <location>/dvwa-logs/error.log</location>
  </localfile>

  <localfile>
    <log_format>apache</log_format>
    <location>/dvwa-logs/other_vhosts_access.log</location>
  </localfile>

  <active-response>
    <disabled>yes</disabled>
  </active-response>

  <logging>
    <log_format>plain</log_format>
  </logging>
</ossec_config>
