<ossec_config>

  <client>
    <server>
      <address>{{WAZUH_MANAGER_ADDRESS}}</address>
      <port>{{WAZUH_MANAGER_PORT}}</port>
      <protocol>tcp</protocol>
    </server>
    <enrollment>
        <agent_name>{{AGENT_NAME}}</agent_name>
    </enrollment>
  </client>

  <localfile>
    <log_format>apache</log_format>
    <location>{{DVWA_APACHE_ACCESS_LOG}}</location>
  </localfile>

</ossec_config>
