<ossec_config>

  <client>
    <server>
      <address>{{WAZUH_MANAGER_ADDRESS}}</address>
      <port>{{WAZUH_MANAGER_PORT}}</port>
      <protocol>tcp</protocol>
    </server>
    <enrollment>
        <agent_name>{{AGENT_NAME}}</agent_name>
    </enrollment>
  </client>

</ossec_config>